<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Setting language..</title>
	</head> 
  <body>
	</body>
  <script>
    let lang = "{{ lang }}";
    window.localStorage["lang"] = lang;
    window.location.replace("/");
  </script>
</html>
